html {
  font-family: Merriweather, serif;
}

tr {
  border: none;
}

.eventgrey {
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 8px;
  color: #333;
}

.eventred {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  border-radius: 8px;
  color: #991919;
}

.eventblue {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 8px;
  color: #38448e;
}

.eventgreen {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  border-radius: 8px;
  color: #51603f;
}

td {
  height: 186px;
  border: 1px solid #ccc;
}

th {
  border: 1px solid #ccc;
}
